################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bin
/obj
/packages
/obj/Debug
/MPSC.PlenoSoft.Office.Testes.Unidade/bin/Debug
/MPSC.PlenoSoft.Office.Testes.Unidade/obj/Debug
/MPSC.PlenoSoft.Office/obj/Debug
